<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
            <button>READ ME NOW</button>
        </div>
        <div class="col-lg-9">
            <h2>{{docs.name}}</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{docs.videoId}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>{{cities.description}}</p>
        </div>
    </div>
</div>