<div class="mt-4">
    
    <form method="POST" action="">

        <div class="form-group">
            <label for="search-input">Keywords</label>
            <input type="text" name="q" class="form-control" id="search-input" placeholder="Enter keywords">
        </div>

        <div class="form-group">
            <label for="gender-input">Keywords</label>
            <select name="gender" class="form-control" id="gender-input">
                <option value="">-- Choose sex --</option>
                <option value="Male">-- Male --</option>
                <option value="Female">-- Female --</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Find</button>

    </form>

</div>